<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipaint.editor.ImageEditor"
            default="false"
            extensions="png,PNG,gif,GIF,bmp,BMP,jpg,JPG,jpeg,JPEG"
            icon="icons/editor.gif"
            id="org.eclipaint.editor"
            name="EcliPaint">
         <contentTypeBinding
               contentTypeId="org.eclipaint.imageContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipaint.editor"
            name="EcliPaint">
      </category>
      <wizard
            category="org.eclipaint.editor"
            class="org.eclipaint.editor.wizards.ImageNewWizard"
            icon="icons/newImage.png"
            id="org.eclipaint.editor.wizard"
            name="New png image">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipaint.editor.EditorPropertyTester"
            id="org.eclipaint.editor.propertyTester.hasSelection"
            namespace="org.eclipaint.editor.propertyTester"
            properties="hasSelection"
            type="org.eclipaint.editor.ImageEditor">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipaint.editor.commands.DeleteCommandHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipaint.editor">
                  </equals>
               </with>
               <with
                     variable="activeEditor">
                  <test
                        property="org.eclipaint.editor.propertyTester.hasSelection">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.SelectAllCommandHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.UndoCommandHandler"
            commandId="org.eclipse.ui.edit.undo">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.RedoCommandHandler"
            commandId="org.eclipse.ui.edit.redo">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.CopyCommandHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipaint.editor">
                  </equals>
               </with>
               <with
                     variable="activeEditor">
                  <test
                        property="org.eclipaint.editor.propertyTester.hasSelection">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.PasteCommandHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipaint.editor.commands.CutCommandHandler"
            commandId="org.eclipse.ui.edit.cut">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="org.eclipaint.editor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <and>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipaint.editor">
                  </equals>
               </with>
               <with
                     variable="activeEditor">
                  <test
                        property="org.eclipaint.editor.propertyTester.hasSelection">
                  </test>
               </with>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipaint.editor.properties.ImageResourcePropertyPage"
            id="org.eclipaint.editor.properties.imagePropertyPage"
            name="Image">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="org.eclipaint.editor.imageContentType">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="png,gif,bmp,jpg,jpeg"
            id="org.eclipaint.editor.imageContentType"
            name="Image"
            priority="normal">
      </content-type>
   </extension>
</plugin>
